:host {
  display: block;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(black, 0.9);
  border: 2px solid orange;
  font-size: 4.5rem;
  border-radius: 100%;
  padding: 35px 50px;
}
