<!--The content below is only a placeholder and can be replaced.-->

<div class="centered">

  <div>
    <app-temp-now [value]="valueNow"></app-temp-now>

    <div id="tempOther">
      <div id="tempMax" class="tempStyle">
        <span>MAX:</span>
        <span class="value">{{ valueMax }} &#8451;</span>
      </div>
      <div id="tempAvg" class="tempStyle">
        <span>AVG:</span>
        <span class="value">{{ valueAvg }} &#8451;</span>
      </div>
      <div id="tempMin" class="tempStyle">
        <span>MIN:</span>
        <span class="value">{{ valueMin }} &#8451;</span>
      </div>
    </div>
  </div>

</div>